csharpWorkshop/FritzBasicsApp/FritzBasics/FritzBasics/obj/Debug
csharpWorkshop/FritzBasicsApp/FritzBasics/FritzBasics/bin/Debug
csharpWorkshop/FritzBasicsApp/FritzBasics/FritzBasics/obj/Release
csharpWorkshop/FritzBasicsApp/FritzBasics/FritzBasics/bin/Release
